services:
  web:
    container_name: sample_laravel_app
    build: .
    networks:
      - sample_laravel_network
    volumes:
      - ./:/var/www
      - /var/www/vendor
    depends_on:
      - db
    ports:
      - "8080:80"

  db:
    container_name: sample_laravel_db
    image: mysql:8.0
    networks:
      - sample_laravel_network
    volumes:
      - mysql_data:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=laravel
      - MYSQL_USER=laravel
      - MYSQL_PASSWORD=laravel
    ports:
      - "3308:3306"

networks:
  sample_laravel_network:

volumes:
  mysql_data:
